.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    gap: 20px;

    position: absolute;
    width: 1152px;
    height: 112px;
    left: calc(50% - 1152px/2);
    bottom: 0px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4px);
    border-radius: 16px;

    div {
        position: relative;

        input {
            padding-left: 20px;
            border: none;
            background-color: rgba(0, 0, 0, 0);
        }

        img {
            position: absolute;
            left: 0;
            top: 0px;

        }
    }
}
