.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 120px 144px;
    gap: 64px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 20px;
        width: 342px;
        height: 544px;
        background: #FFFFFF;
        border: 1px solid rgba(145, 158, 171, 0.24);
        border-radius: 16px;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    .overviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}