@mixin font {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #637381;
}

@mixin h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #212B36;
}

@mixin p {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #637381;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0px;
    width: 270px;
    height: 435px;
    background: #FFFFFF;
    box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
    border-radius: 16px;
    margin-bottom: 16px;

    .top {
        position: relative;
        gap: 24px;

        img {
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
        }

        div { 
            width: 200px;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px 12px 0px 16px;
            gap: 48px;

            div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px 8px;
                width: 56px;
                height: 26px;
                background: #212B36;
                border-radius: 6px;

                h1 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 26px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }

    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            gap: 4px;
            // border-bottom: 1px dashed red;

            p {
                @include p;
            }

            h1 {
                @include h1;
            }
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            gap: 12px;

            .days {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                p {
                    @include p;
                }
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;

                h1 {
                    @include h1;
                    text-align: center;
                }
            }
        }

    }
}