$h1Color: var(--h1-color-);
$pColor: var(--p-color-);

.worldwide {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 144px;
    padding-top: 130px;

    h1 {
        color: $h1Color;
        font-size: 64px;
        font-weight: 700;
    }

    p {
        color: $pColor;
        padding-top: 24px;
        font-size: 16px;
        font-weight: 400;
        color: #919EAB;
    }
}

@media (max-width: 768px) {
    .worldwide {

        padding: 0;
        height: 45vh;

        h1 {
            margin: 0 auto;
            padding-top: 50px;
            font-size: 40px;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin: 0 auto;
            text-align: center;
        }
    }

}