.nonActive {
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 23px 0 12px 0;
  position: fixed;
  z-index: 100;
  background: none;
  top: 0;
  transition: 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
}
.nonActive h1 {
  font-family: "Montserrat" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 62px;
  height: 24px;
  color: #ffffff;
}
.nonActive nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nonActive nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.nonActive:hover {
  background-color: #fff;
}
.nonActive:hover h1 {
  color: black;
}
.nonActive:hover .menu_burger {
  border: 1px solid black;
  filter: invert(100%);
  border: none;
  -webkit-filter: invert(100%);
}
.nonActive:hover nav a {
  color: black;
  display: inline-block;
  transition: color 0.2s ease;
  position: relative;
}
.nonActive:hover nav a:hover::before, .nonActive:hover nav a.activeLink::before {
  width: 100%;
  left: 100;
}
.nonActive:hover nav a::before {
  content: "";
  position: absolute;
  top: 167%;
  width: 0;
  right: 0;
  height: 5px;
}
.nonActive:hover nav a::before {
  transition: width 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
  background: #2e325a;
  left: 0;
}

.active {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  border: none;
  padding: 23px 0 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #ffffff;
  z-index: 89;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.active h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 62px;
  height: 24px;
  color: black;
}
.active .menu_burger {
  border: 1px solid black;
  filter: invert(100%);
  border: none;
  -webkit-filter: invert(100%);
}
.active nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.active nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  display: inline-block;
  transition: color 0.2s ease;
  position: relative;
}
.active nav a:hover::before, .active nav a.activeLink::before {
  width: 100%;
  left: 100;
}
.active nav a::before {
  content: "";
  position: absolute;
  top: 167%;
  width: 0;
  right: 0;
  height: 5px;
}
.active nav a::before {
  transition: width 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
  background: #2e325a;
  left: 0;
}

.wrapper {
  position: fixed;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0);
}
.wrapper #logoM {
  display: none;
}
.wrapper a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #919eab;
  text-decoration: none;
}
.wrapper a:hover {
  color: #212B36;
}
.wrapper .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  width: 45%;
}
.wrapper .left .page {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.wrapper .left li {
  width: 100%;
  list-style: none;
  position: relative;
}
.wrapper .left li:hover ul {
  display: initial;
  transition: all 2s;
}
.wrapper .left li ul {
  position: absolute;
  left: -0.6em;
  right: auto;
  top: 100%;
  margin-top: 0;
  padding: 0.6em 1em;
  display: none;
  min-width: auto;
  background-color: #ffffff;
  border-radius: 6px;
}
.wrapper .left li ul li {
  padding: 0.1em;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 22%;
}

#burger {
  display: none;
}

li {
  width: 100%;
  list-style: none;
  position: relative;
}
li:hover ul {
  display: initial;
}
li ul {
  position: absolute;
  left: -0.6em;
  right: auto;
  top: 100%;
  margin-top: 0;
  padding: 0.6em 0;
  display: none;
  min-width: auto;
}
li ul button {
  background: fuchsia;
  min-width: auto;
}

a {
  color: #212b36;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  background: #212B36;
  border-radius: 8px;
  border: none;
  width: 83px;
  height: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
button a {
  color: #ffffff;
}
button a:hover {
  color: #ffffff;
  transition: width 6s, height 3s;
}

@media (max-width: 768px) {
  .wrapper #logoM {
    display: block;
  }
  .wrapper .right {
    display: none;
  }
  .wrapper #burger {
    display: block;
    z-index: 2;
  }
  .wrapper .left {
    position: absolute;
    left: -379px;
    top: 0;
    background-color: rebeccapurple;
    display: block;
    padding: 45px 20px 20px 20px;
    width: 350px;
  }
  .wrapper .left a {
    display: block;
    padding: 10px 0;
  }
  .wrapper .left a :last-child {
    margin-right: 0;
  }
  .wrapper .left #logoD {
    display: none;
  }
}/*# sourceMappingURL=Header.module.css.map */