.wrapper{
    display: flex;
    .pagination{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

    }

                            // div {
                            //     display: flex;
                            //     flex-direction: column;
                            //     align-items: flex-start;
                            //     padding: 0px;
                            //     gap: 40px;
                            // }
    
    // input {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: flex-start;
    //     padding: 14px 0px 14px 14px;
    //     gap: 8px;
    //     width: 342px;
    //     height: 54px;
    //     background: rgba(145, 158, 171, 0.08);
    //     border-radius: 8px;
    //     border: none;
    // }
    
    // .categories {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 16px;
    //     margin-left: 15px;
    // }
    
    // ul {
    //     display: flex;
    //     flex-direction: column;
    //     list-style-image: url(../../../assets/dot.svg);
    
    // }
    
    
    // .title {
    //     font-weight: 700;
    //     font-size: 24px;
    //     line-height: 36px;
    //     color: #212B36;
    
    //     padding: 28px;
    // }
    
    // .post {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: flex-start;
    //     padding: 0px;
    //     gap: 16px;
    //     padding-bottom: 24px;
    // }
    
    // .post_text {
    //     font-weight: 600;
    //     font-size: 14px;
    //     line-height: 26px;
    //     color: #212B36;
    // }
    
    // .time {
    //     font-weight: 400;
    //     font-size: 12px;
    //     line-height: 20px;
    //     color: #919EAB
    // }
    
    // .post img {
    //     border-radius: 12px;
    // }
    
    // button {
    //     display: flex;
    //     align-items: center;
    //     padding: 4px 12px;
    //     background: rgba(145, 158, 171, 0.16);
    //     border-radius: 8px;
    //     border: none;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 26px;
    //     text-align: center;
    //     color: #637381;
    
    // }
    
    // .disc {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 8px;
    
    // }
    
    // .adv {
    //     position: relative;
    // }
    
    // .center {
    //     top: 0;
    //     position: absolute;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     padding: 146px 0 40px 40px;
    //     gap: 24px;
    // }
    
    // .disc h1 {
    //     font-weight: 700;
    //     font-size: 24px;
    //     line-height: 36px;
    //     text-align: center;
    //     color: #22B8CF;
    
    // }
    
    // .disc p {
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 26px;
    //     text-align: center;
    //     color: #FFFFFF;
    // }
    
    // .orangeBtn {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 6px 16px;
    //     width: 87px;
    //     height: 36px;
    //     border: none;
    //     background: #FA541C;
    //     border-radius: 8px;
    //     font-weight: 600;
    //     font-size: 14px;
    //     line-height: 24px;
    //     text-align: center;
    //     color: #FFFFFF;
    // }
    
    // .tags>div>button {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     padding: 4px 12px;
    //     background: rgba(145, 158, 171, 0.16);
    //     border-radius: 8px;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 26px;
    //     text-align: center;
    //     color: #637381;
    // }
    
    // .tags {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     padding: 0px;
    //     gap: 8px;
    // }
    
    // .tags>div {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: flex-start;
    //     padding: 0px;
    //     gap: 8px;
    
    // }
    
    // .mobileInput{
    //     display: none
        
    // }
    
    // @media (max-width: 768px) {
    //     .wrapper {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //     }
    
    //     input{
    //      display: none;
    //     }
    
    //     .sideBar{
    //         gap: 0;
    //     }
    //     .adv{
    //         padding-top: 40px;
    //     }
    
        
    // }
}