.wrapper {
    background-image: url(../../../assets/images/background.svg);
    background-repeat: no-repeat;

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 40px;
        padding: 280px ;

        p {
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #22B8CF;
        }

        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 80px;
            text-align: center;
            color: #FFFFFF;
        }

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 11px 22px;
            background: #FA541C;
            border-radius: 8px;
            border: none;

            a {
                font-weight: 600;
                font-size: 15px;
                line-height: 26px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 40px;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 26px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }

}
.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    gap: 20px;

    position: absolute;
    width: 1152px;
    height: 112px;
    // left: calc(50% - 1152px/2);
    // bottom: 64px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4px);
    border-radius: 16px;

    div {
        position: relative;

        input {
            padding-left: 20px;
            border: none;
            background-color: rgba(0, 0, 0, 0);
        }

        img {
            position: absolute;
            left: 0;
            top: 0px;

        }
    }
}
